*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body{
    background:linear-gradient(#0fc9d6,#222);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center ;
}
.contarainer{
    width: 80%;
    height: 80%;
    background:rgba(212, 209, 209, 0.1);
    border-radius: 20px;
}
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 20px 0;

}
nav .logo{
    color: #fff;
    text-decoration: none;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
}
nav ul li {
    display: inline-block;
    margin: 0 6px;
}

nav ul li a{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}
nav ul li a:hover{
    color: #f70f0f;
}
.test{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 80%;
    margin: auto;
}

.texs h2{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 20px;
}
